---
layout: default
title: Publicações
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}


  {% if site.paginate %}
    {% assign publication = ((paginator.publications | sort: date) | reverse) %}
  {% else %}
    {% assign publication = ((site.publications | sort: date) | reverse) %}
  {% endif %}


  {% assign date_format = site.minima.date_format | default: "%d/%m/%Y" %}


  {%- if publication.size > 0 -%}

    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}

    {%- for publication in publication -%}

      {% unless publication.next %}
        <h3 class="year-separator">{{ publication.date | date: '%Y' }}</h3>
      {% else %}
        {% capture year %}{{ publication.date | date: '%Y' }}{% endcapture %}
        {% capture nyear %}{{ publication.next.date | date: '%Y' }}{% endcapture %}
        {% if year != nyear %}
          <h3 class="year-separator">{{ publication.date | date: '%Y' }}</h3>
        {% endif %}
      {% endunless %}

      <ul class="post-list">
        <li>
          <div>
            <span class="publication-meta">{{ publication.date | date: date_format }} • {{ publication.author }}</span>
            <h3>
              {{ publication.title | escape }}
            </h3>

            <a class="show-abstract">Abstract</a> •
            {%- if publication.link != null -%}
              &nbsp;<a href="{{ publication.link }}" target="_blank">Full Paper</a> •
            {% endif %}
            {%- if publication.pdf_link != null -%}
              &nbsp;<a href="{{ publication.pdf_link }}" target="_blank">PDF</a> •
            {% endif %}
            <a href="{{ publication.link }}" target="_blank">BibTeX</a>

            {% if publication.abstract != null %}
              <div class="hidden-abstract" tabindex="1">
                {{ publication.abstract }}
              </div>
            {% endif %}
          </div>
        </li>
      </ul>
    {%- endfor -%}

    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}

  {%- endif -%}

</div>
