<header class="site-header" role="banner">

  <div class="wrapper">

    <a class="site-title" rel="author" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
      <div class="trigger">
        {% assign link = '/news' %}
        <a class="page-link" href="{{ link | prepend: site.baseurl | prepend: site.url }}">Notícias</a>
        {% assign link = '/people' %}
        <a class="page-link" href="{{ link | prepend: site.baseurl | prepend: site.url }}">Pessoas</a>
        {% assign link = '/projects' %}
        <a class="page-link" href="{{ link | prepend: site.baseurl | prepend: site.url }}">Projetos</a>
        {% assign link = '/publications' %}
        <a class="page-link" href="{{ link | prepend: site.baseurl | prepend: site.url }}">Publicações</a>
        {% assign link = '/partners' %}
        <a class="page-link" href="{{ link | prepend: site.baseurl | prepend: site.url }}">Parcerias</a>
        {% assign link = '/about' %}
        <a class="page-link" href="{{ link | prepend: site.baseurl | prepend: site.url }}">Sobre</a>
        {% assign link = '/contact' %}
        <a class="page-link" href="{{ link | prepend: site.baseurl | prepend: site.url }}">Contato</a>
      </div>
    </nav>

  </div>

</header>
