<header class="site-header" role="banner">

  <div class="wrapper">

    <a class="site-title" rel="author" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
      <div class="trigger">
        <a class="page-link" href="{{ site.baseurl }}/parcerias/">Notícias</a>
        <a class="page-link" href="{{ site.baseurl }}/perfis/">Pessoas</a>
        <a class="page-link" href="{{ site.baseurl }}/projetos/">Projetos</a>
        <a class="page-link" href="{{ site.baseurl }}/publicacoes/">Publicações</a>
        <a class="page-link" href="{{ site.baseurl }}/parcerias/">Parcerias</a>
        <a class="page-link" href="{{ site.baseurl }}/sobre/">Sobre</a>
        <a class="page-link" href="{{ site.baseurl }}/contato/">Contato</a>
      </div>
    </nav>

  </div>

</header>
