/**
 * Homepage.
 */
.home-content {
  padding: 0;
  flex: 1;
  background-color: $green-color-a8;
}

.home-wrapper {
  max-width: -webkit-calc(#{100%});
  max-width:         calc(#{100%});

  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{100%});
    max-width:         calc(#{100%});
  }

  padding: 0;

  .wrapper {
    background-color: $grey-color;
  }
}

.background {
  background-image: url("https://images.unsplash.com/photo-1542751371-adc38448a05e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: $homepage-background;
  flex: 1;
  display: flex;
}

.grey-filter {
  background-color: $grey-color-a8;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome {
  color: $orange-color;
  font-size: $homepage-font-size;
  font-weight: bold;
  text-align: center;
}

.about {
  padding: $spacing-unit;
  text-align: justify;
  text-justify: inter-word;
}

.news {
  padding: $spacing-unit;
}

.support {
  padding: $spacing-unit;
  .instituitions {
    text-align: justify;
    font-size: 0;
    line-height: 0;

    .institution {
      width: 250px;
      display: inline-block;
    }

    .institution-left {
      padding-right: $spacing-unit;
      padding-left: $spacing-unit * 8;
    }

    .institution-right {
      padding-right: $spacing-unit * 8;
      padding-left: $spacing-unit;
    }

    .stretch {
      width: 100%;
      display: inline-block;
    }
  }
}
