/**
 * Homepage.
 */
.home-content {
  background-image: url("https://images.unsplash.com/photo-1542751371-adc38448a05e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  flex: 1;
  display: flex;
}

.home-wrapper {
  max-width: -webkit-calc(#{100%} - (#{$spacing-unit} * 2));
  max-width:         calc(#{100%} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;

  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{100%} - (#{$spacing-unit}));
    max-width:         calc(#{100%} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }

  background-color: $grey-color-a7;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

span {
  color: $orange-color;
  font-size: $homepage-font-size;
  font-weight: bold;
  text-align: center;
}
