---
layout: default
---

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <div class="post-content e-content" itemprop="articleBody">
    <div class="author">
      <span>
        <img class="author-picture" src="{{ site.baseurl }}{{ page.picture }}">
        <h2 class="author-name">
          {{ page.title | escape }}
          {% if page.nickname %}
            ({{ page.nickname }})
          {% endif %}
        </h2>
        {% if page.role %}
          <h3 class="author-name">{{ page.role }}</h3>
        {% endif %}
      </span>
    </div>


    <div class="post-section">
      <h2 class="post-section-title p-name">Sobre</h2>
      {{ content }}
    </div>


    {%- if page.research_interests.size > 0 -%}
      <div class="post-section">
        <h2 class="post-section-title p-name">Interesses de Pesquisa</h2>
        <ul>
          {%- for research_interest in page.research_interests -%}
            <li>{{ research_interest }}</li>
          {%- endfor -%}
        </ul>
      </div>
    {% endif %}


    {%- if page.hobbies.size > 0 -%}
      <div class="post-section">
        <h2 class="post-section-title p-name">Hobbies</h2>
        <ul>
          {%- for hobby in page.hobbies -%}
            <li>{{ hobby }}</li>
          {%- endfor -%}
        </ul>
      </div>
    {% endif %}


    {%- if page.games.size > 0 -%}
      <div class="post-section">
        <h2 class="post-section-title p-name">Top três jogos</h2>
        <ul>
          {%- for game in page.games -%}
            <li>{{ game }}</li>
          {%- endfor -%}
        </ul>
      </div>
    {% endif %}


    <div class="post-section">
      <h2 class="post-section-title p-name">Links</h2>
      {%- if page.site -%}
        <p><a href="{{ page.site }}">Site Profissional</a></p>
      {%- endif -%}
      {%- if page.itchio -%}
        <p><a href="{{ page.itchio }}">Jogos no Itch.io</a></p>
      {%- endif -%}
      {%- if page.orcid -%}
        <p><a href="{{ page.orcid }}">ORCID</a></p>
      {%- endif -%}
      {%- if page.lattes -%}
        <p><a href="{{ page.lattes }}">Currículo Lattes</a></p>
      {%- endif -%}
      {%- if page.scholar -%}
        <p><a href="{{ page.scholar }}">Google Scholar</a></p>
      {%- endif -%}
      {%- if page.researchgate -%}
        <p><a href="{{ page.researchgate }}">Research Gate</a></p>
      {%- endif -%}
      {%- if page.facebook -%}
        <p><a href="{{ page.facebook }}">Facebook</a></p>
      {%- endif -%}
      {%- if page.instagram -%}
        <p><a href="{{ page.instagram }}">Instagram</a></p>
      {%- endif -%}
      {%- if page.twitter -%}
        <p><a href="{{ page.twitter }}">Twitter</a></p>
      {%- endif -%}
      {%- if page.youtube -%}
        <p><a href="{{ page.youtube }}">Canal do YouTube</a></p>
      {%- endif -%}
      {%- if page.linkedin -%}
        <p><a href="{{ page.linkedin }}">LinkedIn</a></p>
      {%- endif -%}
    </div>
  </div>

</article>
