---
layout: default
---

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">

    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>

  </header>


  <div class="post-content e-content" itemprop="articleBody">

    <div class="post-section project-section">

      {% if page.video %}
        <iframe class="media-section" width="700" height="393.75" src="{{ page.video }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      {% else %}
        {% if page.image %}
          <img class="media-section" src="{{ site.baseurl }}{{ page.image }}">
        {% endif %}
      {% endif %}

      {% if page.abstract %}
        <div class="abstract-section">
          <h2 class="post-section-title p-name">Resumo</h2>
          <div class="post-section-content abstract-content">
            {{ page.abstract }}
          </div>
        </div>
      {% endif %}

    </div>


    {%- if page.team -%}

      {% assign date_format = site.minima.date_format | default: "%d/%m/%Y" %}

      {% if site.paginate %}
        {% assign publications = (((paginator.publications | where:"team",page.team) | sort: date) | reverse) %}
      {% else %}
        {% assign publications = (((site.publications | where:"team",page.team) | sort: date) | reverse) %}
      {% endif %}

      {%- if publications.size > 0 -%}
        <div class="post-section">
          <h2 class="post-section-title p-name">Publicações</h2>
          <div class="post-section-content">
            <ul class="post-list">
              {%- for publication in publications -%}

                {% unless publication.next %}
                  <h4 class="year-separator">{{ publication.date | date: '%Y' }}</h4>
                {% else %}
                  {% capture year %}{{ publication.date | date: '%Y' }}{% endcapture %}
                  {% capture nyear %}{{ publication.next.date | date: '%Y' }}{% endcapture %}
                  {% if year != nyear %}
                    <h4 class="year-separator">{{ publication.date | date: '%Y' }}</h4>
                  {% endif %}
                {% endunless %}
                  <li>
                    <div>
                      <span class="publication-meta">{{ publication.date | date: date_format }} • {{ publication.author }}</span>
                      <h4 class="publication-title">{{ publication.title | escape }}</h4>

                      <a class="text-button" onclick="show('hidden-abstract{{forloop.index}}')">Abstract</a> •
                      {% if publication.bibtex %}
                        &nbsp;<a class="text-button" onclick="show('hidden-bibtex{{forloop.index}}')">BibTeX</a> •
                      {% endif %}
                      {%- if publication.link -%}
                        &nbsp;<a href="{{ publication.link }}" target="_blank">Full Paper</a>
                        {%- if publication.pdf_link -%}
                        &nbsp;•
                        {% endif %}
                      {% endif %}
                      {%- if publication.pdf_link -%}
                        <a href="{{ publication.pdf_link }}" target="_blank">PDF</a>
                      {% endif %}

                      {% if publication.abstract %}
                        <div class="paper-abstract" id="hidden-abstract{{forloop.index}}" style="display: none;">
                          <p>Abstract</p>
                          {{ publication.abstract }}
                        </div>
                      {% endif %}

                      {% if publication.bibtex %}
                        <div class="paper-bibtex" id="hidden-bibtex{{forloop.index}}" style="display: none;">
                          <p>BibTeX • <span onclick="copy('copy{{forloop.index}}', 'text-copy{{forloop.index}}')"
                            class="copy" id="text-copy{{forloop.index}}">Copiar</span></p>
                          <pre id="copy{{forloop.index}}"><code>{{ publication.bibtex }}</code></pre>
                        </div>
                      {% endif %}
                    </div>
                  </li>
              {%- endfor -%}
            </ul>
          </div>
        </div>
      {%- endif -%}


      {% assign members = site.data.teams[page.team] %}

      {%- if members.size > 0 -%}
        <div class="post-section">
          <h2 class="post-section-title p-name">Equipe</h2>
          <div class="post-section-content team">
            {%- for member in members -%}
              <div class="author">
                <img class="author-picture" src="{{ site.baseurl }}{{ member.picture }}">
                <p class="author-name"> {{ member.name }} </p>
              </div>
            {%- endfor -%}
          </div>
        </div>
      {%- endif -%}

    {%- endif -%}

  </div>

</article>

<script src="{{ site.baseurl }}/assets/js/scripts.js" type="text/javascript"></script>
